element.style {
}
body.pages.index {
    overflow-x: hidden;
}
body {
    background-color: white;
}
body {
    color: black;
    font-family: "Conv_AtlasTypewriter-Regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, section, aside, article, nav, header, footer {
    margin: 0;
    padding: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
::selection {
    color: white;
    background: #999999;
}
